# Put in root folder under .env. Replace values if needed

PORT = 3000
DB_PROVIDER = mock # currently supported: mongo, mock
DB_HOST = <REPLACE WITH HOST>
DB_USER = <REPLACE WITH USERNAME>
DB_PASS = <REPLACE WITH PASSWORD>
DB_NAME = <REPLACE WITH DATABASE NAME>